# Imports

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('data/hiv_data.csv')

In [3]:
df. describe()

,Unnamed: 0,county_code,YEAR,AMAT_fac,HIVdiagnoses,HIVincidence,HIVprevalence,MH_fac,Med_AMAT_fac,Med_MH_fac,...,pctunmetneed,nonmedpain,ADULTMEN,MSM12MTH,MSM5YEAR,%msm12month,%msm5yr,unemployment_rate,poverty_rate,household_income
count,3140.000000,3140.000000,3140.0,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,...,3139.000000,3139.000000,3.140000e+03,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3.140000e+03
mean,1569.500000,30387.632484,2015.0,0.085669,11.879936,4.046911,145.400446,3.290127,0.058917,2.934395,...,88.709994,4.313600,3.676915e+04,927.681210,1434.076752,1.294020,1.999905,8.552643,16.792452,3.700843e+04
std,906.584249,15156.372045,0.0,0.450816,69.947292,16.575690,198.488980,8.591740,0.369298,7.401998,...,3.226578,0.582708,1.164119e+05,4858.792046,7511.042900,1.011416,1.564130,3.746800,6.487101,1.119425e+05
min,0.000000,1001.000000,2015.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,77.020000,2.950000,3.400000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.300000e+01
25%,784.750000,18178.500000,2015.0,0.000000,0.000000,0.000000,32.950000,0.000000,0.000000,0.000000,...,86.480000,3.880000,4.269000e+03,34.000000,52.000000,0.560790,0.859203,6.100000,12.100000,4.230000e+03
50%,1569.500000,29176.000000,2015.0,0.000000,0.000000,0.000000,89.000000,1.000000,0.000000,1.000000,...,88.790000,4.320000,9.877500e+03,103.500000,160.000000,1.021160,1.579628,8.300000,16.000000,9.793500e+03
75%,2354.250000,45079.500000,2015.0,0.000000,0.000000,0.000000,183.775000,3.000000,0.000000,3.000000,...,90.830000,4.700000,2.533775e+04,351.250000,543.000000,1.614168,2.491817,10.700000,20.300000,2.565975e+04
max,3139.000000,56045.000000,2015.0,8.000000,1972.000000,771.400000,2590.200000,192.000000,5.000000,133.000000,...,100.000000,5.890000,3.666190e+06,162706.000000,251521.000000,15.166163,23.444109,29.600000,47.900000,3.242391e+06

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 39 columns):
Unnamed: 0           3140 non-null int64
county_code          3140 non-null int64
COUNTY               3140 non-null object
STATEABBREVIATION    3140 non-null object
YEAR                 3140 non-null int64
AMAT_fac             3140 non-null float64
HIVdiagnoses         3140 non-null float64
HIVincidence         3140 non-null float64
HIVprevalence        3140 non-null float64
MH_fac               3140 non-null float64
Med_AMAT_fac         3140 non-null float64
Med_MH_fac           3140 non-null float64
Med_SA_fac           3140 non-null float64
Med_SMAT_fac         3140 non-null float64
Med_TMAT_fac         3140 non-null float64
PLHIV                3140 non-null float64
Population           3140 non-null float64
SA_fac               3140 non-null float64
SMAT_fac             3140 non-null float64
TMAT_fac             3140 non-null float64
drugdeathrate        3140 non-null float64
drugdeathrate_est    3140 non-null float64
drugdeaths           3140 non-null float64
mme_percap           2963 non-null float64
partD30dayrxrate     3046 non-null float64
pctunins             3140 non-null float64
num_SSPs             3140 non-null float64
bup_phys             3140 non-null float64
drugdep              3139 non-null float64
pctunmetneed         3139 non-null float64
nonmedpain           3139 non-null float64
ADULTMEN             3140 non-null int64
MSM12MTH             3140 non-null int64
MSM5YEAR             3140 non-null int64
%msm12month          3140 non-null float64
%msm5yr              3140 non-null float64
unemployment_rate    3140 non-null float64
poverty_rate         3140 non-null float64
household_income     3140 non-null int64
dtypes: float64(30), int64(7), object(2)
memory usage: 956.8+ KB

In [5]:
df.head()

,Unnamed: 0,county_code,COUNTY,STATEABBREVIATION,YEAR,AMAT_fac,HIVdiagnoses,HIVincidence,HIVprevalence,MH_fac,...,pctunmetneed,nonmedpain,ADULTMEN,MSM12MTH,MSM5YEAR,%msm12month,%msm5yr,unemployment_rate,poverty_rate,household_income
0,0,1001,Autauga County,AL,2015,0.0,5.0,10.9,225.5,1.0,...,95.70,5.12,19410,333,514,1.715611,2.648120,8.5,12.8,20304
1,1,1003,Baldwin County,AL,2015,0.0,15.0,8.7,163.9,4.0,...,91.34,5.27,69724,925,1429,1.326659,2.049509,8.6,13.8,73058
2,2,1005,Barbour County,AL,2015,0.0,0.0,0.0,436.0,1.0,...,91.34,5.27,11567,82,127,0.708913,1.097951,14.2,24.1,9145
3,3,1007,Bibb County,AL,2015,0.0,0.0,0.0,191.9,0.0,...,91.86,5.62,9508,119,184,1.251578,1.935212,10.9,17.0,7078
4,4,1009,Blount County,AL,2015,0.0,5.0,10.4,95.4,1.0,...,91.86,5.62,21368,601,928,2.812617,4.342943,9.3,17.3,20934

In [6]:
df.tail()

,Unnamed: 0,county_code,COUNTY,STATEABBREVIATION,YEAR,AMAT_fac,HIVdiagnoses,HIVincidence,HIVprevalence,MH_fac,...,pctunmetneed,nonmedpain,ADULTMEN,MSM12MTH,MSM5YEAR,%msm12month,%msm5yr,unemployment_rate,poverty_rate,household_income
3135,3135,56037,Sweetwater County,WY,2015,0.0,0.0,0.0,86.5,3.0,...,87.02,3.38,16941,177,274,1.044803,1.617378,5.6,12.2,16687
3136,3136,56039,Teton County,WY,2015,0.0,0.0,0.0,50.5,2.0,...,89.16,3.42,9172,50,78,0.545137,0.850414,3.6,8.5,7873
3137,3137,56041,Uinta County,WY,2015,0.0,0.0,0.0,0.0,4.0,...,87.02,3.38,7401,75,116,1.013377,1.567356,5.8,14.2,7557
3138,3138,56043,Washakie County,WY,2015,0.0,0.0,0.0,0.0,1.0,...,86.12,3.26,3141,17,27,0.541229,0.859599,7.9,14.2,3461
3139,3139,56045,Weston County,WY,2015,0.0,0.0,0.0,0.0,1.0,...,88.36,3.73,2958,16,25,0.540906,0.845166,3.6,12.4,2996

In [7]:
df['YEAR'].unique()

array([2015])